<mat-card appearance="outlined" class="card">
  <mat-card-header
    class="card__mat-mdc-card-header"
    style="padding: 0; justify-content: center"
  >
    <app-img-render
      class="card__mat-mdc-card-header__image"
      [height]="'100%'"
      [newsItemUrl]="newsItem().images?.smallImageDetailsProxied"
      [title]="newsItem().mainTitle"
      [width]="'100%'"
    />
  </mat-card-header>
  <mat-card-header>
    <mat-card-title-group class="card__title-group">
      <mat-card-title
        class="card__title"
        [class.truncate__lines-2]="!isDetailsMode()"
        >{{ newsItem().mainTitle }}</mat-card-title
      >
      <mat-card-subtitle class="card__subtitle">
        <b>Source:</b>
        @if (!isDetailsMode()) {
          {{ newsItem().source | truncateText: 10 }}
        } @else {
          {{ newsItem().source }}
        }
      </mat-card-subtitle>
      <mat-card-subtitle class="card__subtitle"
        ><b>Date: </b
        >{{
          newsItem().timestamp | date: FormDetails.DateFormat!
        }}</mat-card-subtitle
      >
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="card__content">
    @if (!isDetailsMode()) {
      {{ newsItem().summary | truncateText: 80 }}
    } @else {
      {{ newsItem().summary }}
    }
  </mat-card-content>
  @if (newsItem().hasSubNews && isDetailsMode()) {
    <mat-card-content class="card__content">
      <mat-list role="list">
        @for (subNewsItem of newsItem().subNews; track subNewsItem) {
          <mat-list-item role="listitem">
            <a
              rel="noopener noreferrer"
              target="_blank"
              [href]="subNewsItem.newsLink"
              >{{ subNewsItem.mainTitle }}</a
            >
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  }
  <mat-card-actions align="end">
    <button
      matButton="filled"
      type="button"
      (click)="goTo(newsItem().newsLink)"
    >
      Go
    </button>
  </mat-card-actions>
  @if (!isDetailsMode()) {
    <mat-card-actions align="end">
      <button matButton="filled" type="button" (click)="generateGhibliIA()">
        <div class="card__button-action">
          <span> GHIBLIZE </span>
          <app-img-render
            [height]="32"
            [newsItemUrl]="'./images.jpeg'"
            [width]="50"
          />
        </div>
      </button>
      <button matButton="filled" type="button" (click)="goToDetails()">
        Details
      </button>
    </mat-card-actions>
  }
</mat-card>
