<mat-card appearance="outlined" class="card">
  <mat-card-header>
    <mat-card-title-group class="card__title-group">
      <mat-card-title class="card__title">{{
        newsItem().mainTitle
      }}</mat-card-title>
      <mat-card-subtitle class="card__subtitle">
        <b>Source:</b> {{ newsItem().source }}</mat-card-subtitle
      >
      <mat-card-subtitle class="card__subtitle"
        ><b>Date: </b>{{ newsItem().timestamp | date }}</mat-card-subtitle
      >
      <img
        class="card__image"
        mat-card-md-image
        [alt]="newsItem().mainTitle"
        [src]="newsItem().images?.smallImageDetailsProxied! | noImage"
      />
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="card__content">
    {{ newsItem().summary }}
  </mat-card-content>
  @if (newsItem().hasSubNews && isDetailsMode()) {
    <mat-card-content class="card__content">
      <mat-list role="list">
        @for (subNewsItem of newsItem().subNews; track subNewsItem) {
          <mat-list-item role="listitem">
            <a
              rel="noopener noreferrer"
              target="_blank"
              [href]="subNewsItem.newsLink"
              >{{ subNewsItem.mainTitle }}</a
            >
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  }
  <mat-card-actions align="end">
    <button
      matButton="filled"
      type="button"
      (click)="goTo(newsItem().newsLink)"
    >
      ir
    </button>
  </mat-card-actions>
  @if (!isDetailsMode()) {
    <mat-card-actions align="end">
      <button matButton="filled" type="button" (click)="goToDetails()">
        Detalles
      </button>
    </mat-card-actions>
  }
</mat-card>
