:host {
  display: block;
}

.app-footer {
  bottom: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__info-section {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    color: #555;
    margin-top: 30px;

    @media (max-width: 979px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__info-section a {
    color: #007bff;
    text-decoration: none;
    padding-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
