<div class="tableComponent tableComponent__tableWrapper">
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate" />
  }
  <table class="tableComponent__table" mat-table [dataSource]="dataTable()">
    @for (column of displayedColumns; track column) {
      <ng-container matColumnDef="{{ column }}">
        @switch (columnHeader()[column].type) {
          @case (cellType.ACTIONS) {
            <th
              *matHeaderCellDef
              class="tableComponent__cell tableComponent__cell--header tableComponent__cell--truncate"
              mat-header-cell
              [matTooltip]="columnHeader()[column].label"
              [matTooltipPosition]="'above'"
            >
              {{ columnHeader()[column].label }}
            </th>
            <td *matCellDef="let element; let i = index" mat-cell>
              <app-actions
                [element]="element[column]"
                [index]="i"
                [row]="element"
                (actionEvent)="action($event)"
              />
            </td>
          }
          @case (cellType.LINK) {
            <th
              *matHeaderCellDef
              class="tableComponent__cell tableComponent__cell--header tableComponent__cell--truncate"
              mat-header-cell
              [matTooltip]="columnHeader()[column].label"
              [matTooltipPosition]="'above'"
            >
              {{ columnHeader()[column].label }}
            </th>
            <td
              *matCellDef="let element"
              class="tableComponent__cell tableComponent__cell--body tableComponent__cell--truncate"
              mat-cell
              [matTooltip]="element[column]"
              [matTooltipDisabled]="!columnHeader()[column].showToggle"
              [matTooltipPosition]="'above'"
            >
              <a target="_blank" [href]="element[column]">
                {{ element[column] }}
              </a>
            </td>
          }
          @case (cellType.IMAGES) {
            <th
              *matHeaderCellDef
              class="tableComponent__cell tableComponent__cell--header tableComponent__cell--truncate"
              mat-header-cell
              [matTooltip]="columnHeader()[column].label"
              [matTooltipPosition]="'above'"
            >
              {{ columnHeader()[column].label }}
            </th>
            <td
              *matCellDef="let element"
              class="tableComponent__cell tableComponent__cell--body tableComponent__cell--truncate"
              mat-cell
              [matTooltip]="element[column]"
              [matTooltipDisabled]="!columnHeader()[column].showToggle"
              [matTooltipPosition]="'above'"
            >
              <app-img-render
                [height]="'25px'"
                [isIconType]="true"
                [marginLeft]="'4px'"
                [marginRight]="'17px'"
                [newsItemUrl]="element[column]"
                [title]="element[column]"
                [width]="'25px'"
              />
            </td>
          }
          @default {
            <th
              *matHeaderCellDef
              class="tableComponent__cell tableComponent__cell--truncate"
              mat-header-cell
              [matTooltip]="columnHeader()[column].label"
              [matTooltipPosition]="'above'"
            >
              {{ columnHeader()[column].label }}
            </th>
            <td
              *matCellDef="let element"
              class="tableComponent__cell tableComponent__cell--body tableComponent__cell--truncate"
              mat-cell
              [matTooltip]="element[column]"
              [matTooltipDisabled]="!columnHeader()[column].showToggle"
              [matTooltipPosition]="'above'"
            >
              {{ element[column] }}
            </td>
          }
        }
      </ng-container>
    }

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns"
      mat-row
      [class.tableComponent__row--expanded]="row.expanded"
    ></tr>
  </table>
  @if (showPaginator()) {
    <mat-paginator
      class="tableComponent__paginator"
      showFirstLastButtons
      [pageSizeOptions]="[5, 10, 20]"
    />
  }
</div>
