.page-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 82vh;

  &__spinner {
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    background: rgba(255, 255, 255, 0);
    z-index: 5;
  }

  @media (max-width: 700px) {
    min-height: 50vh;
  }

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1024px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
