.page-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 1200px;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1024px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
