.navbar {
  background-color: #00bcd4; // Cyan
  color: #fff;
  padding: 0.5rem 1rem;

  &__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__logo-image {
    width: 20px;
    // height: 20px;
    border-radius: 5px;
  }
  &__logo-span {
    font-size: 1.5rem;
    font-weight: bold;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      display: none;

      &--open {
        display: flex;
      }
    }
  }

  &__item {
    margin: 0;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff9800; // Orange
      color: #000;
      border-radius: 4px;
    }
  }
}
