@mixin truncate($max-width) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $max-width;
}

@mixin responsive-truncate {
  @include truncate(65ch);

  @media (max-width: 575.98px) {
    max-width: 10ch;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    max-width: 20ch;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 24ch;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    max-width: 26ch;
  }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    max-width: 28ch;
  }
  @media (min-width: 1400px) {
    max-width: 30ch;
  }
}

//  Flexbox centrado
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
