$color-primary: var(--mat-sys-primary);
$color-hover: #171035;
$color-row-expanded: #ebf6f7;
$color-xlsx: green;
$color-csv: #000;
$color-white: #fff;
$color-border: gray;

$border-radius-sm: 6px;
$border-radius-md: 0.25rem;
$padding-cell: 0 10px;
$padding-input: 5px;

$height-paginator: 64px;
$height-no-records: 48px;
