:host {
  display: block;
}

.media {
  position: relative;
  width: 96px;
  height: 96px;
  flex: 0 0 auto;
  display: inline-block;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    display: block;
  }
  &__spinner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 5; // sobre la imagen
  }
}
