:host {
  display: block;
}
.confirm-dialog {
  &__title {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-size: 1.05rem;
    font-weight: 600;
    margin: 0;
  }
  &__icon {
    color: #f57c00;
    font-size: 22px;
    line-height: 1;
  }

  &__content {
    padding-top: 12px;
    padding-bottom: 4px;
    color: #333;
    p {
      margin: 0;
      font-size: 0.95rem;
    }
  }
  &__actions {
    padding-top: 12px;
    gap: 8px;
    display: flex;
    justify-content: center;

    button {
      min-width: 72px;
    }

    button[color='warn'] {
      background-color: #d32f2f;
      color: white;
    }
  }
}
